# Login page configuration.
LOGIN_PAGE_HOST = "0.0.0.0"
LOGIN_PAGE_PORT = 8000

# Nginx IP to accept X-Real-IP header.
NGINX_HOST           = "192.168.X.X"

# Nginx Proxy Manager URL
NPM_URL              = ""

# Account credentials
NPM_ACCOUNT_EMAIL    = ""
NPM_ACCOUNT_PASSWORD = ""

# Access list name.
NPM_ACCESS_LIST_NAME = ""

# Password the client has to entier to be whitelisted.
LOGIN_PASSWORD       = "abc123"

# How long the IP stays in the access list.
# hours.
LOGIN_LIFETIME       = 1

# Login attempts configuration.
LOGIN_MAX_ATTEMPTS   = 5
# minutes.
LOGIN_FAIL_TIMEOUT   = 5

# Webhook configuration.
# Works with Discord!
WEBHOOK_URL          = ""

# Which events will fire the webhook.
WEBHOOK_ON_SUCCESS   = "false"
WEBHOOK_ON_FAILURE   = "false"
WEBHOOK_ON_TIMEOUT   = "false"

# {} will be replaced with the IP address during runtime.
WEBHOOK_SUCCESS_MESSAGE = "{} has logged in!"
WEBHOOK_FAILURE_MESSAGE = "{} has failed to login!"
WEBHOOK_TIMEOUT_MESSAGE = "{} has been timed out!"